<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div class="topnav" id="myTopnav">
    <a th:href="@{/}" class="active">Home</a>
    <a th:href="@{/movies}">Movies</a>
    <a th:href="@{/actors}">Actors</a>
    <a th:href="@{/directors}">Directors</a>
    <a th:href="@{/logout}">Logout</a>
    <a href="javascript:void(0);" class="icon" th:onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<head>
<title>Actors!</title>
</head>
<body>
	<div class="container my-2">
		<h1>Actor List</h1>

		<a th:href = "@{addActorForm}" class="btn btn-primary btn-sm mb-3">Add Actor</a>
		
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Update/Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="actor : ${listActors}">
					<td th:text="${actor.actorFName}"></td>
					<td th:text="${actor.actorLName}"></td>
					<td> <a th:href="@{/actorUpdateForm/{id}(id=${actor.actorId})}" class="btn btn-primary">Update</a>
					 <a th:href="@{/deleteActor/{id}(id=${actor.actorId})}" class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script type="text/javascript" src="@{/js/script.js}"></script>
</html>