<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Navigation
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" th:href="@{/movies}">Movies</a>
    <a class="dropdown-item" th:href="@{/actors}">Actors</a>
    <a class="dropdown-item" th:href="@{/directors}">Directors</a>
  </div>
</div>
	<div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
<head>
<title>Directors!</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container my-2">
		<h1>Director List</h1>

		<a th:href = "@{addDirectorForm}" class="btn btn-primary btn-sm mb-3">Add Director</a>
		
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Update/Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="director : ${listDirectors}">
					<td th:text="${director.directorFName}"></td>
					<td th:text="${director.directorLName}"></td>
					<td> <a th:href="@{/directorUpdateForm/{id}(id=${director.directorId})}" class="btn btn-primary">Update</a>
					 <a th:href="@{/deleteDirector/{id}(id=${director.directorId})}" class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>