<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Navigation
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" th:href="@{/movies}">Movies</a>
    <a class="dropdown-item" th:href="@{/actors}">Actors</a>
    <a class="dropdown-item" th:href="@{/directors}">Directors</a>
  </div>
</div>
	<div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
<head>
<title>Update a Director!</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>Falcon Movie Database</h1>
		<hr>
		<h2>Update Director</h2>
	
		<form th:action="@{/saveDirector}" th:object="${director}" method="post">
		
		<!-- Hidden form field to handle update -->
		<input type="hidden" th:field="*{directorId}" />
		
			<input type="text" th:field="*{directorFName}"	class="form-control mb-4 col-4"> 
			<input type="text"
				th:field="*{directorLName}"	class="form-control mb-4 col-4"> 
				
			<button type="submit" class="btn btn-info col-2">Update Director</button>

		</form>
		<hr>
		<a th:href = "@{/directors}">Back to Director List</a>
	</div>
</body>
</html>